.mini-blog-grid .minimal-blog-card {
    display: block;
    background-color: var(--hover-bg); 
    border: 1px solid var(--border-soft);
    padding: 20px;
    border-radius: 12px;
    transition: all 0.25s ease;
    height: 100%;
    /* Add this to create depth in light mode */
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.minimal-blog-link {
    display: block;
    height: 100%;
    text-decoration: none !important;
}


.mini-blog-grid .minimal-blog-card:hover {
    background-color:  var(--border-soft); 
    border-color: var(--border-visible);
    transform: translateY(-3px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.home-blog-footer:hover {
    border-top: 1px solid var(--border-visible);
}

.home-blog-footer {
    margin-top: 10px;
    padding-top: 10px;
    margin-bottom: 0px;
    border-top: 1px solid var(--border-soft); 
}

.view-all-link {
    color: var(--primary);
    font-weight: 600;
    text-decoration: none;
}

.insights-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; /* Add a little space */
    width: 100%;
}

.section-title {
    margin: 0;
    font-size: 1.5rem;
    color: var(--text-main);
}

.mini-blog-grid {
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

